@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Merriweather:ital,wght@0,300;0,900;1,400;1,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color: black;
}
.movie{
    margin: 1.5rem;
    background-color: rgb(86, 86, 94);
    max-width: 400px;
    
    border-radius: 4px;
}
.movie img{
    width: 400px;
    height: 500px;
}
.movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: aliceblue;
    font-family:  'Ubuntu', sans-serif;;
    
}
.movie-info p{
    font-size: 20px;
    letter-spacing: 2px;
}
.movie-info span{
    font-size: 20px;
    background-color:  rgb(102 8 8); 
    padding: 5px;
}
